body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 10;
  color: rgb(52, 32, 7);

}
button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(64, 61, 61);
  color: antiquewhite;
}
button:hover{
  background-color: rgb(222, 134, 19);
  color:rgb(64, 61, 61); 
}

canvas {
  height: 100vh;
  width: 100vw;
  background: rgb(242, 244, 245);
}
